* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;

  align-items: center;
  /* width: 1437px; */
  /* width: 100%; */
  /* background-color: blue; */
}
.wrapper {
  /* width: 100%; */
  max-width: 1437px;
  /* margin-left: auto; */
  /* margin-right: auto; */
  margin: 0 auto;
  background-image: url(../img/hero-fon.png);
  background-repeat: no-repeat;
  align-items: center;
}
/* шапка сайта */
.header {
  background-color: rgba(255, 255, 255, 0.6);
  height: 86px;
  align-items: center;
  /* background: rosybrown; */
  padding-top: 8px;
}
.header-container {
  max-width: 1196px;
  margin: auto;
  height: 75px;
  display: flex;
  justify-content: space-between;
  /* background-color: #e5ff50; */
}

.nav {
  max-width: 680px;
  display: flex;
  align-items: center;
  /* background-color: bisque; */
}
.nav-link {
  font-size: 20px;
  font-weight: 600;
  color: #50beff;
  text-decoration: none;
}

.nav-link:not(:last-child) {
  margin-right: 35px;
}
/* /////////////////////////главная секция ////////////////////////////*/
.hero {
  display: flex;
  height: 780px;
}

.hero-left {
  height: 695px;
  /* background-color: aquamarine; */
}
.hero-title {
  font-size: 56px;
  line-height: 70px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  width: 700px;
  height: 297px;
  margin-top: 153px;
  margin-left: 123px;
}
form {
  margin-left: 123px;
}
input {
  width: 525px;
  font-size: 25px;
  font-weight: 600;
  outline: none;
  padding: 0;
  height: 69px;
  border: solid 2px rgba(164, 234, 255, 0.5);
  border-radius: 10px;
  background: rgba(164, 234, 255, 0.5);
}
input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: rgba(255, 255, 255, 0.6);
  padding-left: 25px;
}
.button-order {
  width: 240px;
  height: 69px;
  font-size: 25px;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ec1f3a;
  outline: none;
  border: none;
  border-radius: 10px;
  margin-left: -244px;
}

.hero-link {
  font-size: 20px;
  font-weight: 600;
  background-color: #3287bf;
  list-style: none;
  width: 270px;
  height: 52px;
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  padding-left: 9px;
  padding-right: 8px;
  border-radius: 10px;
}

.hero-link:not(:last-child) {
  margin-bottom: 10px;
}

.list-link {
  padding-inline-start: 0;
  margin-top: 25px;
  margin-right: 115px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.link {
  height: 100%;
  text-decoration: none;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-rigth {
  width: 100%;
}
.bottle-container {
  display: flex;
}
.bottle-1 {
  margin-top: 10px;
  margin-left: -20px;
  width: 352px;
  height: 464px;
  /* margin-right: 282px; */
}
.bottle-2 {
  margin-top: 4px;
  margin-left: -209px;
}

/* /////////////////////////секция about////////////////////////////*/
.about {
  margin-left: 123px;
  margin-right: 115px;
  margin-bottom: 180px;
}
.about-title {
  font-size: 57px;
  color: #000000;
  font-weight: 600;
  line-height: 70px;
  margin-top: 30px;
  margin-bottom: 69px;
}

.title-accent {
  color: #ec1f3a;
  font-weight: 700;
}
.about-cards {
  display: flex;
  padding-inline-start: 0;
  margin: 0;
  justify-content: space-between;
}
.card {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 245px;
  height: 300px;
  justify-content: space-between;
}
.card-text {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  line-height: 17px;
}

/*/////////////// калькулятор воды  /////////////*/

.calculator {
  /* margin: 115px 247px; */

  width: 945px;
  height: 512px;
  margin: auto;
  background: #ffffff;
  height: 512px;
  border-radius: 26px;
}
.calculator-name {
  font-size: 52px;
  line-height: 64px;
  font-weight: 600;
  margin: 0;
  margin-left: 60px;
  padding-top: 60px;
}
.fon-calculator-up {
  display: block;
  position: absolute;
  top: 1479px;
  left: 0;
  width: 1600px;
  height: 301px;
  background-image: url(../img/fon-calculator-up.svg);
  background-repeat: no-repeat;
  z-index: -1;
}
.fon-calculator-down {
  display: block;
  position: absolute;
  top: 1760px;
  left: 0;
  width: 1453px;
  height: 568px;
  background-image: url(../img/fon-calculator-down.svg);
  background-repeat: no-repeat;
  z-index: -1;
}

.calculator-points {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline-start: 0;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 32px;
  margin-bottom: 80px;
}

.calc-point {
  width: 170px;
  /* height: ; */
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.calc-point:not(:last-child):not(:first-child) {
  align-items: center;
}

.calc-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  /* padding-inline-start: 0; */
}

.calc-point:nth-child(3) > .calc-title {
  margin-left: 30px;
}

/* background-color: #ec1f3a; */

.calc-btn {
  width: 120px;
  height: 32px;
  border: 1px solid #006fcc;
  border-radius: 10px;
  background-color: transparent;
  text-transform: uppercase;
  color: #000000;
  font-size: 13px;
  font-weight: 500;
}
.calc-btn-active {
  color: #fff;
  background: #50beff;
  border: none;
}

.wrapper-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 82px;
  /* align-items: baseline; */
}
.counter {
  padding: 10px 17px;
  margin-left: 17px;
  margin-right: 17px;

  border: 1px solid #006fcc;
  border-radius: 8px;
}
.btn {
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  color: #8399a9;
  background-color: transparent;
  outline: none;
  border: none;
}
.wrap-btn {
  display: flex;
  flex-direction: row;
}
.point-text {
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}
.order-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 45px;
  margin-left: 51px;
  margin-right: 65px;
  /* background: #8399a9; */
}
.order-text {
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  /* align-items: center; */
  justify-content: center;
}
.bottle-icon {
  margin-left: 20px;
  /* margin-right: 20px; */
}
.credit-card-icon {
  margin-left: 30px;
  /* margin-right: 30px; */
}
.order-form > .order-text-strong {
  margin-left: 30px;
  margin-right: 30px;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
}

.calc-button-order {
  font-weight: 900;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: #fff;
  background-color: #ec1f3a;
  border: none;
  border-radius: 7px;
  height: 100%;
  width: 225px;
  margin-left: 50px;
}
/* ///////////////////основной каталог//////////// */
.catalog {
  margin-left: 123px;
}
.catalog-name {
  font-size: 52px;
  line-height: 64px;
  font-weight: 600;
  margin: 0;
  margin-top: 165px;
}

.fon-catalog-up {
  display: block;
  position: absolute;
  top: 2500px;
  left: 0;
  width: 1443px;
  height: 487px;
  background-image: url(../img/fon-catalog-up.svg);
  background-repeat: no-repeat;
  z-index: -1;
}
.fon-catalog-down {
  display: block;
  position: absolute;
  top: 2950px;
  left: 0;
  width: 1463px;
  height: 165px;
  background-image: url(../img/fon-catalog-down.svg);
  background-repeat: no-repeat;
  z-index: -1;
}

.catalog-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-inline-start: 0;

  margin-top: 30px;
  margin-bottom: 110px;
  /* margin: 0; */
}

.catalog-item {
  font-weight: 500;
  font-size: 18px;
  line-height: 180%;
  border: 1px solid #000;
  box-shadow: 6px 10px 25px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 15px 30px;
}

.catalog-item:not(:last-child) {
  margin-right: 24px;
}
.catalog-cards {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-inline-start: 0;
  /* margin-bottom: 140px; */
}

.catalog-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: 274px;
  height: 483px;
  background: #fff;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 10px;
}

.catalog-card-content:not(:last-child) {
  margin-right: 29px;
}

.tara {
  font-weight: 700;
  font-size: 33px;
  line-height: 46px;
  color: #262626;
  margin-top: 8px;
  margin-bottom: 8px;
}
.card-price {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 22px;

  align-items: center;
  justify-content: space-between;
}
.price {
  font-weight: 300;
  font-size: 35px;
  color: #000;
  margin: 0;
}
.quantity {
  display: flex;
  flex-direction: row;
  align-items: center;

  font-weight: 400;
  font-size: 25px;
  margin: 0;
}
.quantity-value {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  font-weight: 700;
  font-size: 18px;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid #000000;
  border-radius: 9px;
}
.card-content-btn {
  background-color: #ec1f3a;
  color: #fff;
  width: 100%;
  height: 50px;
  font-size: 22px;
  font-weight: 900;
  line-height: 34px;
  border-radius: 10px;
  border: none;
  outline: none;
}

/* ///////////////////описание//////////// */

.description {
  margin-left: 123px;
  margin-right: 83px;
}

.description-title {
  font-size: 57px;
  font-weight: 700;
  width: 952px;
  margin-top: 140px;
}
.description-text {
  width: 1220px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  align-items: center;
}

.production {
  margin-left: 123px;
  margin-right: 83px;
}

.prduction-title {
  font-weight: 700;
  font-size: 57.2727px;
  line-height: 70px;

  margin-top: 60px;
  margin-bottom: 60px;
}
.production-video {
  display: block;
  width: 830px;
  /* align-items: center; */
  /* text-align: center; */
  /* justify-content: center; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 300px;
}

/* //////////////////////////footer////////////////////////// */
.footer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 125px;
  margin-right: 120px;
  /* background: #a8cde6; */
}
.fon-footer-up {
  display: block;
  position: absolute;
  top: -150px;
  left: -125px;
  width: 1600px;
  height: 283px;
  background-image: url(../img/fon-footer-up.svg);
  background-repeat: no-repeat;
  z-index: -1;
}
.fon-footer-down {
  display: block;
  position: absolute;
  top: 100px;
  left: -125px;
  width: 1453px;
  height: 803px;
  background-image: url(../img/fon-footer-down.svg);
  background-repeat: no-repeat;
  z-index: -1;
}

.address {
  width: 287px;
  /* background: #16d8ae; */
}
.logo-footer {
  margin-bottom: 24px;
}
.address-link {
  display: flex;
  align-items: center;
  text-decoration: none;

  font-weight: 600;
  font-size: 21px;
  line-height: 25px;
  color: #ffffff;
}

.address-link:not(:last-child) {
  margin-bottom: 15px;
}

.address-icon {
  margin-right: 12px;
}
.nav-footer {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}
.nav-link-footer {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  text-transform: capitalize;

  color: #fefefe;
}
.nav-link-footer:not(:last-child) {
  margin-bottom: 20px;
}

.social {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}
.social-link {
  display: flex;
  flex-direction: row;
  width: 270px;
  height: 52px;
  border-radius: 23px;
  text-decoration: none;
  align-items: center;
  justify-content: space-between;

  font-weight: 600;
  font-size: 21px;
  line-height: 25px;
  background: #3287bf;
  color: #ffffff;

  padding-left: 15px;
  padding-right: 4px;
}
.social-link:not(:last-child) {
  margin-bottom: 16px;
}

.wrapper-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #50beff;
  width: 46px;
  height: 46px;
  border-radius: 50%;
}

.coppirate {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 830px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;

  color: #fefefe;
  margin-left: 125px;
}
.coppirate-link {
  text-decoration: none;
  color: #fefefe;
}
